
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
/app/karma.config.d/moko-resources-generated.js
/app/webpack.config.d/moko-resources-generated.js
/app/dictionary_database.db
